// Colors
$accentColor = #2b8ccd;
$primaryColor = #f1f1f1;
$secondaryColor = #333;

$primaryFontColor = #333
$secondaryFontColor = #fff

// Font
$font-family = helvetica,arial,sans-serif;
$font-size = 16

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: $primaryColor;
    color: $primaryFontColor;
    font-family: $font-family
    font-size: ($font-size)px
    height: 100%;
    overflow: hidden;
}

a {
    color: $accentColor;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:visited {
        color: $accentColor;
    }   
}

h3 {
    font-size ($font-size)px;
    font-weight: 400;
}

section {
    position: relative;
}
