$navHeight = 50px;
$colWidth = 300px;
$borderStyle = 1px solid black;
$headerHeight = 40px;

.layout {
    height: 100%;
    width: 100%;

    // layout sections
    section.nav {
        border-bottom: $borderStyle;
        height: $navHeight;
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: 2;
    }

    section.center {
        padding-top: $navHeight;
        margin: 0px $colWidth;

        section.lastgame {
            border-bottom: $borderStyle;
        }
    }

    section.left {
        border-right: $borderStyle;
        left: 0px;
    }

    section.right {
        border-left: $borderStyle;
        right: 0px;
    }

    section.left, section.right {
        position: absolute;
        top: $navHeight;
        width: $colWidth;
    }

    section.left, section.right, section.center {
        height: calc(100% - 50px); // minus navHeight
    }

    // content sections
    section.lastGame {
        height: calc(50% - 1px); // minus border
    }

    section.news {
        height: 50%;
    }

    section.schedule {
        height: 100%;
    }

    section.tweets {
        height: 100%;
    }
}

.header {
    border-bottom: $borderStyle;
    border-right: $borderStyle;
    height: $headerHeight;
    line-height: $headerHeight;
    text-align:center;
}

.container {
    height: calc(100% - 41px); // minus headerHeight and border height
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.list {
    list-style-type: none;
}
