$borderHeight = 1;
$borderStyle = ($borderHeight)px solid #ccc;
$buttonPadding = 20px;
$colWidth = 320;
$headerHeight = 40;
$navHeight = 46;
$listItemMargin = 10;
$listItemPadding = 20;
$showcaseHeight = 200;

// breakpoints
$mobileWidth = 480;
$twoColumnMin = ($mobileWidth + $colWidth)px
$threeColumnMin = ($mobileWidth + (2 * $colWidth))px

/* Z-Index:
 * To manage the state of spatial depth, z-index, we are establishing
 * index bands, similar to frequency bands or airspace bands.
 *
 * Each column: left, right, center, is given a range of z-indexes that are
 * reserved for it to use at it sees fit.
 *
 * This guarentees that the columns will correctly layer relative to one another,
 * but have the flexibility to internally layer their content as they see fit
 *
 * The index bands are defined as follows:
 * Center: 0 - 9
 * Left: 10 - 19
 * Right: 20 - 29
 * Nav: 30
 */

#layout {
    height: 100%;
    width: 100%;

    // layout sections
    #nav {
        background-color: $secondaryColor;
        border-bottom: ($borderHeight)px solid #000;
        color: $secondaryFontColor;
        height: ($navHeight)px;
        line-height: ($navHeight)px;
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: 30;

        button {
            display: none;
            padding: 0px 10px;
            position: absolute;
            
            @media screen and (max-width: $threeColumnMin) {
                &#leftToggle {
                    display:inline-block;
                }
            }

            @media screen and (max-width: $twoColumnMin) {
                display:inline-block;
            }
        }

        span {
            display:inline-block;
            text-align: center;
            width:100%;
        }

        #leftToggle {
            background-image: url("images/iconSchedule.png");
            left: $buttonPadding;
            
            &.isSelected {
                background-image: url("images/iconScheduleSelected.png");   
            }
        }

        #rightToggle {
            background-image: url("images/iconTwitter.png");
            right: $buttonPadding;
            
            &.isSelected {
                background-image: url("images/iconTwitterSelected.png");   
            }
        }
        
        #leftToggle, #rightToggle {
            background-size: ($navHeight - $buttonPadding);
            height: $navHeight - $buttonPadding;
            width: $navHeight - $buttonPadding;
        }
    }

    #center {
        margin: 0px ($colWidth)px;
        padding-top: ($navHeight)px;
        z-index: 0;

        .header {
            z-index: 1;
        }

        @media screen and (max-width: $threeColumnMin) {
            margin: 0px ($colWidth)px 0px 0px;
        }
        
        @media screen and (max-width: $twoColumnMin) {
            margin: 0px;
        }
    }

    #left {
        border-right: ($borderHeight)px solid #a1a1a1;
        left: 0px;
        z-index: 10;
        
        .header {
            z-index: 11;
        }

        @media screen and (max-width: $threeColumnMin) {
            transform: translateX(($colWidth * -1)px);

            &.isOpen {
                transform: translateX(0px);
            }
        }

        @media screen and (max-width: $twoColumnMin) {
            transform: translateX(-1 * 100%);
            width: 100%;

            &.isOpen {
                transform: translateX(0);
            }
        }
    }

    #right {
        border-left: ($borderHeight)px solid #a1a1a1;
        right: 0px;
        z-index: 20;
        
        .header {
            z-index: 21
        }

        /*@media screen and (max-width: $tabletWidth) {
            transform: translateX(($colWidth)px);

            &.isOpen {
                transform: translateX(0px);
            }
        }*/

        @media screen and (max-width: $twoColumnMin) {
            transform: translateX(100%);

            &.isOpen {
                transform: translateX(0);
            }
        }
    }

    #left, #right {
        position: absolute;
        top: ($navHeight)px;
        transition: 0.5s ease-in-out
        width: ($colWidth)px;

        @media screen and (max-width: $twoColumnMin) {
            width: 100%;
        }
    }

    #left, #right, #center {
        height: "calc(100% - %spx)" % ($navHeight);
    }
    
    .header {
        background-color: $secondaryColor;
        color: $secondaryFontColor;
        box-shadow: 0px 1px 5px #666;
        height: ($headerHeight)px;
        line-height: ($headerHeight)px;
        position: relative;
        text-align:center;
        width: 100%;

        .refresh {
            background-image: url("images/iconRefresh.png");
            right: $buttonPadding;
            
            &.loading {
                animation:spin 4s linear infinite;
                background-image: url("images/iconRefreshSelected.png");
            }
            
            @keyframes spin { 
                100% {
                    -webkit-transform: rotate(360deg);
                    transform:rotate(360deg);
                }
            }
        }
    }

    .container {
        background-color: $primaryColor;
        height: "calc(100% - %spx)" % ($headerHeight - $borderHeight);
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        width: 100%;
    }

    .list {
        list-style-type: none;
        
        .item {
            background-color: #fff;
            border: $borderStyle;
            border-radius: 4px;
            padding: ($listItemPadding)px;
            margin: ($listItemMargin)px;
        }
    }
    
    .spacer {
        flex: 1;
    }

    button {
        background-color: $secondaryColor;
        background-repeat: no-repeat;
        background-size: ($headerHeight - $buttonPadding);
        border: 0px;
        height: $headerHeight - $buttonPadding;
        outline: none;
        position: absolute;
        top: ($buttonPadding / 2);
        width: $headerHeight - $buttonPadding;
    }
}
