$navHeight = 50;
$colWidth = 300;
$borderHeight = 1;
$borderStyle = ($borderHeight)px solid black;
$headerHeight = 40;

.layout {
    height: 100%;
    width: 100%;

    // layout sections
    section.nav {
        border-bottom: $borderStyle;
        height: ($navHeight)px;
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: 2;
    }

    section.center {
        padding-top: ($navHeight)px;
        margin: 0px ($colWidth)px;

        section.showcase {
            border-bottom: $borderStyle;
        }
    }

    section.left {
        border-right: $borderStyle;
        left: 0px;
    }

    section.right {
        border-left: $borderStyle;
        right: 0px;
    }

    section.left, section.right {
        position: absolute;
        top: ($navHeight)px;
        width: ($colWidth)px;
    }

    section.left, section.right, section.center {
        height: "calc(100% - %spx)" % ($navHeight);
    }

    // content sections
    section.showcase {
        height: "calc(50% - %spx)" % ($borderHeight);
        position: relative;
    }

    section.news {
        height: 50%;
        position: relative;
    }

    section.schedule {
        height: 100%;
    }

    section.tweets {
        height: 100%;
    }
}

.header {
    background-color: $backgroundColor;
    border-bottom: $borderStyle;
    border-right: $borderStyle;
    height: ($headerHeight)px;
    line-height: ($headerHeight)px;
    text-align:center;
}

.container {
    background-color: $backgroundColor;
    height: "calc(100% - %spx)" % ($headerHeight - $borderHeight);
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    width: 100%;
}

.list {
    list-style-type: none;
}
