.loader {
    background-color: #FFF;
    display: table;
    height: "calc(100% - %spx)" % ($headerHeight - $borderHeight);
    position:absolute;
    right: 0px;
    top: ($headerHeight + $borderHeight)px;
    width: 100%;

    span {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
}

.partialLoader {
    background-color: #FFF;
    display: table;
    height: 40;
    width: 100%;

    span {
        display: table-cell;
        text-align: center;
        vertical-align: middle;
    }
}