$newsFontSize = 18;
$newsPadding = 10;

#news {

    .article {
        border-bottom: $borderStyle;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        div {
            margin: ($newsPadding)px 0px ($newsPadding)px 0px;
        }

        h3 {
            font-size: ($newsFontSize)px;
            font-weight: 600;
        }

        img {
            padding: 0px ($newsPadding)px 0px ($newsPadding)px;
        }
    }
}