$newsPadding = 10;

#news {
    position: relative;

    .article {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        justify-content: flex-start;
        position:relative;
        -webkit-justify-content: flex-start;

        &:hover {
            cursor: pointer;
            
            h3 {
                text-decoration: underline;
            }
        }

        img {
            border-radius: 3px;
            background-color: $primaryColor;
            flex: 0 0 80px;
            -webkit-flex: 0 0 80px;
            height: 60px;
            margin-right: ($newsPadding)px;
            object-fit: cover;
        }
        
        h3 {
            color: $accentColor;
            font-size: ($fontSize + 2)px
            margin-bottom:8px;
        }
        
        .source {
            color: #666;    
        }
        
        .date {
            bottom: 20;
            color: #666;
            font-size: 13px;
            position: absolute;
            right 20;
        }
    }
}