$newsPadding = 10;

#news {

    .article {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        
        &:hover {
            cursor: pointer;
            
            h3 {
                text-decoration: underline;
            }
        }

        img {
            padding: 0px ($newsPadding)px 0px ($newsPadding)px;
        }
        
        h3 {
            color: $accentColor;
            font-size: ($fontSize + 2)px
            margin-bottom:8px;
        }
    }
}