.schedule {

	.game {
	    border-bottom: $borderStyle;
	    border-left: $borderStyle;
	    display: flex;
	    flex-direction: row;
	    justify-content: space-between;
	    padding: 20px 10px;
	 }

	.gameInfo {
	    padding: 0px 10px;
	}

	.gameState {
	    padding: 0px 10px;
	}	
}