.game {
	border-bottom: $borderStyle;
    border-left: $borderStyle;
    padding: 20 10px; 
}

.gameListing {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.gameInfo {
	padding: 0px 10px 0px;
}

.gameState {
	padding: 0px 10px 0px;
}