#schedule {

    .game {
        padding: 20px 20px;
        
        /**
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        **/
     }

    .gameInfo {
    }

    .gameState {
        padding: 0px 10px;
    }   
}