#showcase {
    
    img {
        height: 72px;
    }
        
    .game {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 10px 10px 10px;
        text-align: center;
     }

     .team {
        font-size: 22px;
        letter-spacing: 12px;
             }

    .date {
        margin: auto;
        text-align: center;
        width: 100%;
        text-align: center;
    }

    .score {
        letter-spacing: 4px;
        padding: 10px 0px 0px 0px;
    }

    .vs {
        align-items: center;
        display: flex;
        font-size: 22px;
        justify-content: center;
        letter-spacing: 12px;

    }
}