$showcasePadding = 10

#showcase {

    .item {
        background-color: #fff;
        border: $borderStyle;
        border-radius: 4px;
        height: "calc(100% - %spx)" % (($showcasePadding * 2) + $listItemMargin);
        margin: ($listItemMargin)px;
        padding: ($showcasePadding)px;
        
        .row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px 10px 10px 10px;
            text-align: center;
            
            .team {
                font-size: 18px;
                font-weight: bold;
            }
            
            .vs {
                color: #666;
                font-size: 22px;
            }
            
            div {
                align-items: center;
                display: flex;
                justify-content: center;
            }
            
            img {
                height: 120px;
                padding: 0px 12px;
            }
        }
        
        .date {
            color: #666;
            margin: auto;
            text-align: center;
            width: 100%;
        }
    }
}