.showcaseGame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 10px;
    text-align: center;
}

.showcaseDate {
    margin: auto;
    text-align: center;
    width: 100%;
}