#teams {
    text-align: center;
    
    p {
        margin-top: 14px;
    }
    
    .grid {
    	display: flex;
    	display: -webkit-flex;
    	flex-wrap: wrap;
    	justify-content: center;
    	-webkit-justify-content: center;
    	
    	a {
    		width: 200px;
    	}
    	
    	img {
	        margin: 10px auto;
	        display: block;
	        height : 200px;
	    }
    }
}