$tweetProfileImageSize = 26;
$tweetImageSize = 200;
$tweetVerticalSpacer = 14;

#tweets {
    height: 100%;
    position: relative;
    
    .tweet {
        position: relative;

        img {
            border-radius: 3px;
            margin-bottom: ($tweetVerticalSpacer)px;
            width: 100%
        }

        div {
            margin-top: ($tweetVerticalSpacer)px;

            img {
                border-radius: ($tweetProfileImageSize/2)px;
                height: ($tweetProfileImageSize)px;
                margin-bottom: 0px;
                margin-right: 4px;
                vertical-align: top;
                width: ($tweetProfileImageSize)px;
            }

            a {
                line-height: ($tweetProfileImageSize)px;
            }
        }
        
        .date {
            bottom: 20;
            color: #666;
            font-size: 13px;
            position: absolute;
            right 20;
        }
    }
}